<!DOCTYPE html>
<html>

<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <!-- prevents cross-site request forgery -->
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>

<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |message_type, message| %>
      <% flash_classes="alert alert-#{message_type}" %>
      <div class="<%= flash_classes %>" id="flash_msg">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
  <br><br>
  <%= debug(params) if Rails.env.development? %>
</body>

</html>
